.job-filters {
  &:hover {
    -webkit-mask-position: left top;
  }

  /* width */
  &::-webkit-scrollbar {
    border-radius: 5px;
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
