@import "../base/color";

.job-category {
  background: #f0f0f0;
  padding: 5rem;
  margin-top: 6rem;

  &__title {
    font: bold 2rem Nunito;
    text-align: center;
  }
  &__list {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 10px;
  }
  &__item {
    display: flex;
    flex-direction: row;

    gap: 1rem;
    padding: 1.5rem;

    cursor: pointer;
    background: white;
    border-radius: 0.75rem;
    transition: all 0.3s ease-in;

    &:hover {
      background: $color-primary;
      color: white;
    }
  }
  &__img {
    height: 2.5rem;
    width: 2.5rem;
  }
  &__name {
    font: bold 1.25rem Nunito;
  }
  &____number-job {
    margin-top: 0.5rem;
  }
}

.job-random {
  padding: 5rem;
  &__title {
    text-align: center;
    font: bold 2rem Nunito;
  }
  &__list {
    margin-top: 2.5rem;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }
}
