@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/button", "./modules/navbar", "./components/avatar",
  "./components/common", "./components/Toggle/toggles", "./components/selection",
  "./components/jobCard", "./components/dropFile",
  "./components/loading-transition";
@import "./pages/404", "./pages/job";
